body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.content-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
@media (max-width: 600px) {
    .content-section {
        flex-direction: column;
    }
}

/* General Styling */
.centered-text {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.hero-text {
    font-size: 5em;
}

.title-text {
    font-size: 3em;
}

.subtitle-text {
    font-size: 1.75em;
}

.body-text {
    font-size: 1em;
}

.small-vertical-margin {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.green-text-outline {
    text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
}

.green-text-outline-sm {
    text-shadow: -0.5px 0 green, 0 0.5px green, 0.5px 0 green, 0 -0.5px green;
}

/* Splash Section */
#splash {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), 
        url('media/grid.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
}

#splash hr {
    border: 0;
    height: 2px;
    background: green;
    width: 100%;
}

/*Banner Contact Section */
#bannercontact {
    width: 100%;
    background-image: url('media/banner_background.png');
    background-position: center;
    background-size: cover;
}

#bannercontact p {
    text-align: center;
    width: 100%;
}

/*Products Section */
#products h2 {
    text-align: center;
    width: 100%;
}
#products p {
    text-align: center;
    width: 100%;
}

.product-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-column img {
    max-width: 100%;
    height: auto;
}

/*Banner Season Section */
#bannerseason {
    display: flex;
    justify-content: space-between;
    background-image: url('media/banner_background.png');
    background-position: center;
    background-size: cover;
}

/*About Section */
#about {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    #about {
        flex-direction: column;
    }

    .team-image {
        max-width: 80%;
        min-width: 0;
        margin: 0 auto;
    }
}

.about-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-image {
    border: 5px solid green;
    border-radius: 5%;
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media (max-width: 600px) {
    .team-image {
        width: 350px;
    }
}

/*Footer Section */
#footer {
    display: flex;
    justify-content: space-between;
    background-image: url('media/banner_background.png');
    background-position: center;
    background-size: cover;
}

.footer-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.social-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-logo {
    width: 50px;
    height: auto;
    margin: 10px;
}